@model quanLiQuanNe.Models.nguoiDung

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>nguoiDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.passWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.passWord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soDu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soDu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
