@model quanLiQuanNe.Models.suDungMay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>suDungMay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maNguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maNguoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maMay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maMay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thoiGianBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thoiGianBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thoiGianKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thoiGianKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tongTien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
