@model IEnumerable<quanLiQuanNe.Models.suDungMay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maNguoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maMay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thoiGianBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thoiGianKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tongTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maNguoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maMay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiGianBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiGianKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongTien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
